version: '3.8'
services:

  spark-master:
    image: bde2020/spark-master:2.4.5-hadoop2.7
    container_name: spark-master
    ports:
      - 8080:8080   # Spark Master UI
      - 7077:7077   # Spark Master port
    environment:
      - ENABLE_INIT_DAEMON=false

  spark-worker-1:
    image: bde2020/spark-worker:2.4.5-hadoop2.7
    container_name: spark-worker-1
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER=spark://spark-master:7077

  spark-worker-2:
    image: bde2020/spark-worker:2.4.5-hadoop2.7
    container_name: spark-worker-2
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER=spark://spark-master:7077

  spark-worker-3:
    image: bde2020/spark-worker:2.4.5-hadoop2.7
    container_name: spark-worker-3
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER=spark://spark-master:7077

  mlflow:
    build: ./mlflow
    container_name: mlflow
    ports:
      - 5000:5000   # MLflow UI
    volumes:
      - mlflow_artifacts:/mlflow/artifacts
      - ./mlflow:/app
    environment:
      - MLFLOW_TRACKING_URI=http://0.0.0.0:5000
      - ARTIFACT_ROOT=/mlflow/artifacts
    depends_on:
      - spark-master

volumes:
  mlflow_artifacts:
